node_modules/
dist/
build/
.expo/
.expo-shared/
.eslintcache
expo/expo-env.d.ts
expo-env.d.ts
.DS_Store
logs/
!client/screens/logs/
!server/logs/
*.tsbuildinfo
node-compile-cache/
.env
client/.env
server/.env